
h1{
  color:#8C8C8C;
  border-width: 0px;
  border:
  left: 37px;
  top: 95px;
  width: 292px;
  height: 28px;
  display: flex;
  font-family: 'Arial Bold', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
b{
  color:#8C8C8C;
}
body{
  
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(255, 255, 255, 1);
}


body > nav{
  background-color: rgba(0, 140, 140, 1);
  text-align: center;
}

body > nav > h3{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
  color: #FFFFFF;
  padding : 14px;
}


form > input {
  width: 100%;
  margin: 5px 0px 11px;
}


body > nav > div > button{
  padding: 22px 16px;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.source {
  font-family: 'Arial Italic', 'Arial', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
}

body h4{
  font-family: "Arial Bold", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(0, 140, 140);
}

body p{
  font-size: 15px;
}


form > label{
  font-family: 'Arial Bold', 'Arial', sans-serif;
  font-size: 15px;
  color: #008C8C;
  text-align: left;
  border-bottom: 20px;
}

#icon {
  font-size: 35px;
  color: #FFFFFF;
  position: absolute;
  top: 20px;
  right: 15px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.formPopup{  
  margin-left: 450px;
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.formPopup input[type=text], .formPopup input[type=password] {
  width: 100%;
  margin-right:-10px;
  border-radius: 5px;
  opacity: 50%;
  background: #f1f1f1;
}
.formPopup input[type=text] :focus, .formPopup input[type=password]:focus {
  opacity: 1;
}

body div  form  label {
  min-width: 200px;
  min-height: 60px; 
  width: 438px;
  height: 30px;
  padding: 0px;
 
}

#InscriptionForm {
  
  position: absolute;
  top: 33%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
}

.tablinks.active  {
  border-bottom: 3px solid #FFFFFF;
}