

body{

  margin: 0px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(255, 255, 255, 1);
}

.header-left ol{
  width: auto;
  float: left;
  display: block;
  background-color: #6899D3;        
  margin: 0; 
  padding: 0; 
}

body > nav{
  background-color: rgba(0, 140, 140, 1);
  text-align: center;
}

body > nav > h3{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
  color: #FFFFFF;
  padding : 14px;
}


form > input {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 5px 0px 11px;
  width: 404px;
  height: 6px;
  color: #8C8C8C;
  border: 1px solid  rgb(195, 195, 195);
  border-radius: 5px;

}


body > nav > div > button {
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none; 
  width: 135px;
  height: 68px;
  padding : 0px;
}

form > button {
  position: absolute;
}

.source {
  font-family: 'Arial Italic', 'Arial', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
}

body h4{
  font-family: "Arial Bold", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(0, 140, 140);
}

body p{
  font-size: 15px;
}

form > label{
  font-family: 'Arial Bold', 'Arial', sans-serif;
  font-size: 15px;
  color: #008C8C;
  text-align: left;
  border-bottom: 20px;
}

#icon {
  font-size: 35px;
  color: #FFFFFF;
  position: absolute;
  top: 20px;
  right: 15px;
}


body div form label {
  min-width: 200px;
  min-height: 60px; 
  width: 438px;
  height: 30px;
  padding: 0px;
 
}

#InscriptionForm {
  
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
}

.tablinks.active  {
  border-bottom: 3px solid #FFFFFF;
}

input[type="checkbox" i] {

  border-width: 0px;
  top: 2px;
  width: 12px;
  height: 12px;
  margin-right: 3px;
  border: 1px solid  black;
  border-radius: 0px;
  
}

form > button {
  right : 0px;
  color: white; 
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  background-color: rgb(0, 140, 140);
  box-shadow: none;
  border: 1px;
  border-radius: 5px;
  padding : 7px 7px;
}
form > button:hover {
  background-color: rgb(129, 180, 180);
}