
body{
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(255, 255, 255, 1);
}


body > nav{
  background-color: rgba(0, 140, 140, 1);
  text-align: center;
}

body > nav > h3{
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
  color: #FFFFFF
}

body > nav > div > button{
  padding: 22px 16px;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.source{
  font-family: 'Arial Italic', 'Arial', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
}

body h4{
  font-family: "Arial Bold", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(0, 140, 140);
}

body p{
  font-size: 15px;
}


form > label{
  font-family: 'Arial Bold', 'Arial', sans-serif;
  font-size: 15px;
  color: #008C8C;
  text-align: left;
}
